/*
    General Styles
*/
html {
  position: relative;
  height: 100%;
  scroll-behavior: smooth;
  font-size: 16px !important; }

body {
  height: 100%;
  background-color: #f8f8f8 !important;
  font-size: 16px !important;
  color: #000000 !important; }

#portfolio {
  background-color: #c4c4c4; }

.grey {
  color: #999999;
  font-weight: bold; }

h1:focus-visible {
  outline: none; }

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  z-index: 1; }

::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 1px; }

::-webkit-scrollbar-track {
  background: transparent; }

.section-inner {
  max-width: 1400px !important;
  width: calc( 100% - 4rem ) !important; }

#page-content-wrapper {
  min-height: calc(100vh - 205px);
  padding: 20px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 80px 20px 80px 20px;
  border-left: 0px;
  background: #f8f8f8; }

.img_container {
  height: 75px;
  width: 75px;
  background-size: cover !important;
  background-position: center center !important;
  float: left;
  border-radius: 10px; }

.panel {
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 1px #ebebeb;
  box-shadow: 0 1px 1px #ebebeb;
  padding: 1.5rem;
  border-radius: 3px;
  overflow: hidden;
  transition: 0.5s; }

.title {
  font-size: 26px;
  color: #111;
  text-align: center;
  font-weight: 400; }

.divider {
  width: 55px;
  height: 4px;
  background: #7b501d; }

/* Nav */
#site-header {
  background: #ffffff !important;
  position: sticky;
  top: 0;
  z-index: 999999;
  transition: height .15s linear, width .15s linear, max-height .15s linear, padding .15s linear;
  border-bottom: 1px solid #e2e2e2;
  padding: 0rem !important;
  margin-bottom: 0rem !important; }

.fa-search, .fa-cog, .fa-shopping-cart {
  font-size: x-large; }

.nav-link {
  color: #000000 !important;
  word-break: normal !important; }

@media screen and (max-width: 991px) {
  .nav-link {
    display: flex;
    justify-content: center;
    align-items: center; } }
.nav-item {
  align-self: center;
  padding: 0px 0px 0px 35px !important;
  margin: 0px !important;
  word-break: normal !important; }

@media screen and (max-width: 991px) {
  .nav-item {
    padding: 0px !important; } }
/* FOOTER
_____________________________ */
#footer-line {
  background-repeat: repeat; }

footer li {
  list-style-type: none;
  padding: 1rem 1rem 1rem 1rem !important;
  line-height: 1.5 !important;
  border: none !important; }

footer a, footer a:hover {
  color: #ffffff !important;
  padding: 0px !important; }

footer p {
  margin: 0;
  padding: 0; }

footer hr {
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 1px; }

footer h6 {
  color: #333;
  font-size: 2em;
  margin-bottom: 1em !important; }

footer {
  display: flex;
  background-color: #049d99;
  padding: 10px 50px 1px 50px;
  color: #ffffff;
  height: 400px;
  align-items: center; }

footer .footer-inner {
  align-items: baseline;
  display: flex;
  flex-direction: row !important;
  width: 100%;
  padding: 2rem;
  justify-content: space-between; }

.footer-menu {
  display: inline-block;
  padding: 0px;
  flex-flow: column !important;
  margin: 0px !important; }

.footer-credits {
  align-items: baseline;
  display: flex;
  justify-content: flex-start; }

.footer-copyright {
  margin: 0px !important;
  font-weight: normal !important; }

/*
    Button Styles
*/
.btn {
  border-radius: 3px !important;
  height: 42px;
  font-size: 1rem !important; }

.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

.btn-primary {
  background-color: #126032;
  border-color: #126032;
  color: #fff; }

.btn-primary a {
  color: #fff;
  text-decoration: none !important; }

.btn-secondary {
  background-color: #E3E4E5 !important;
  color: #000000 !important;
  border: none; }

.btn-secondary:hover {
  background-color: #E3E4E5 !important;
  color: #000000 !important; }

.btn-warning {
  background-color: #A4660E !important;
  border-color: #A4660E !important;
  color: #ffffff !important; }

.btn-warning a {
  color: #ffffff !important;
  text-decoration: none !important; }

.btn-warning:hover, .btn-warning:active, .btn-warning:focus {
  background-color: #85520A !important;
  border-color: #85520A !important;
  color: #ffffff !important; }

.btn-danger {
  background-color: #D4403A !important;
  border-color: #D4403A !important;
  color: #ffffff !important; }

.btn-danger a {
  color: #ffffff !important;
  text-decoration: none !important; }

.btn-danger:hover, .btn-danger:active, .btn-danger:focus {
  background-color: #BC2E29 !important;
  border-color: #BC2E29 !important;
  color: #ffffff !important; }

.btn-disabled:disabled {
  background-color: #166f3b !important;
  border-color: #166f3b !important;
  color: white !important; }

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .open .dropdown-toggle.btn-primary {
  background-color: #0d4423;
  border-color: #0d4423; }

.btn-more-filters {
  background-color: #ffffff !important;
  border-color: #ccc !important;
  color: #333333 !important; }

.btn-more-filters:hover, .btn-more-filters:focus, .btn-more-filters:active, .btn-more-filters.active, .open .dropdown-toggle.btn-more-filters {
  background-color: #f5f7ff !important;
  border-color: #ccc !important; }

.btn-edit {
  border-color: #d1d1d1; }

.btn-blue {
  background-color: #337AB7 !important;
  color: white !important; }

.btn-blue:hover {
  background-color: #136cba !important;
  color: white !important; }

#btn-logout {
  background-color: #ffb400 !important;
  border-color: #ffb400 !important; }

#btn-logout a {
  color: #ffffff !important;
  font-weight: bold; }

.btn-logout:hover, .btn-logout:focus, .btn-logout:active, .open .dropdown-toggle.btn-logout {
  background-color: #ffb400 !important;
  border-color: #ffb400 !important;
  opacity: .8; }

.btn-search {
  background-color: #004269 !important;
  border-color: #004269 !important;
  color: #ffffff !important; }

.btn-search:hover, .btn-search:focus, .btn-search:active {
  background-color: #004269 !important;
  border-color: #004269 !important;
  color: #ffffff !important;
  opacity: .8; }

.btn-grey {
  background-color: #d3d3d3; }

button {
  font-size: .8888em !important;
  display: flex;
  justify-content: center;
  align-items: center; }

.btn-buy {
  border: 1px solid #000000;
  background: #ffffff;
  color: #000000; }

.btn-buy:hover {
  border: 1px solid #000000;
  background: #000000;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.btn-blank, .btn-blank a {
  background: none !important;
  border: none;
  color: #007bff !important; }

.btn-blank:hover, .btn-blank a:hover {
  background: none !important;
  color: #000000 !important;
  opacity: 0.8 !important; }

.btn-calltoaction {
  background-color: #004275;
  border-color: #FFCF01;
  color: #FFCF01; }

.btn-calltoaction:hover {
  background-color: #004275;
  border-color: #FFCF01;
  color: #fff; }

.btn-info {
  background-color: #00A9CE;
  border-color: #004275;
  color: #fff; }

.btn-link {
  background-color: #acacac;
  color: #F1F1F1;
  border-radius: 5px; }

.btn-link:active, .btn-link:focus, .btn-link:hover {
  background-color: #8c8b8b;
  color: #F1F1F1; }

.btn-success {
  background-color: #3A833A !important;
  border-color: #3A833A !important; }

.badge {
  background-color: #e3e4e5 !important;
  color: #000000 !important; }

canvas {
  display: block;
  vertical-align: bottom; }

/* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold; }

.js-count-particles {
  font-size: 1.1em; }

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px; }

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden; }

.count-particles {
  border-radius: 0 0 3px 3px; }

/* ---- particles.js container ---- */
.particles {
  height: 400px; }

#particles-js {
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

/*
    override styles when printing
*/
@media print {
  header, footer, img, .btn, .heading-image, .heading-blur {
    display: none !important; }

  table {
    page-break-after: auto; }

  tr {
    page-break-inside: avoid;
    page-break-after: auto; }

  td {
    page-break-inside: avoid;
    page-break-after: auto; }

  body {
    margin: auto; } }

/*# sourceMappingURL=style.css.map */
