/* FOOTER
_____________________________ */

footer {
    display: flex;
    text-align: center;
    background-color: #1A1E68;
    color: #ffffff;
    align-items: center;
}

footer > h2 > a {
    font-weight: bold;
}