/*
    Link Styles
*/

a:hover {
    color: #0067d6;
}

a:focus-visible {
    color: #0067d6;
    outline: 2px solid #000000;
}

#contact a:focus-visible, #backtotop:focus-visible {
    color: #0067d6;
    outline: 2px solid #ffffff;
}

#backtotop:focus-visible {
    color: #ffffff;
    outline: 2px solid #ffffff;
}

.btn {
    border-radius: 3px !important;
    height: 3rem;
    font-size: 1rem !important;
}

.btn-primary {
    background-color: #06abbe;
    color: #fff;
}

.btn-primary:hover, .btn-primary:focus-visible {
    background-color: #005660;
    color: #ffffff;
}

.btn-primary:focus-visible {
    outline: 2px solid #000000;
}

.btn-secondary {
    background-color: #E3E4E5;
    color: #000000;
}

.btn-secondary:hover, .btn-secondary:focus-visible {
    background-color: #cacaca;
    color: #000000;
}

.btn-secondary:focus-visible {
    outline: 2px solid #000000;
    }